<p>team works!</p>

<div class="text-center">
    <img src="assets/informatica.jpg" class="rounded" alt="...">
  </div>

  <ul class="">
    <li class="Sviluppo Tecnologico">Sviluppo Tecnologico</li>
    <li class="Creazione pagine web">Creazione pagine web</li>
</ul>



<div class="hero__content">
<h1>Team</h1>
</div><!-- chiude il div .hero_content -->

<div class="team">
<div class="container"> <div class="row">
<div class="card" style="width: 20rem;" *ngFor="let cards of card">
  <img src="{{cards.immagini}}" class="card-img-top" alt="">
  <h4>{{cards.titolo}}</h4>
  <div class="card-body">
    <p class="card-text}">{{cards.descrizione}}</p>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.{{cards.attivo}}</p>
  </div>
</div>





</div>
<p>Passionate About Perfection</p>
<h2>Creative Thinkers</h2>
